## Counting tables.
#if ( !$counter )
  #set ( $counter = 1 )
#else
  #set( $counter = $counter + 1 )
#end
## Print header above the first table.
#if ( $counter == 1 )
/*
SQL generated on $date by ./ddlscan utility of Tungsten

url = $url
user = $user
dbName = $dbName
#if( $renameDefinitions )
rename = $renameDefinitions.getDefinitionsFile()
#end
*/
#end