#*
  Tungsten Scale-Out Stack
  Copyright (C) 2007-2013 Continuent Inc.
  Contact: tungsten@continuent.org
 
  Initial developer(s): Linas Virbalas
  Contributor(s):
 
  Velocity template for Tungsten.
    
*##parse("includes/table-counter.vm")
## Print header or help above the first table.
#if ( $counter == 1 )
#if( $help )
Options:
  -opt schemaSuffix suffix - suffix to add to schema name (no suffix, if not
                             specified).
  -opt tableSuffix suffix  - suffix to add to table names (no suffix, if not
                             specified).
  -opt cdcColumnsAtFront b - true for CDC columns at front (default: false).

Resulting tables have CDC columns added.

#parse("includes/ddl-mysql-oracle-help.vm")
#else
#parse("includes/ddl-header.vm")
#end
#end
## Stop processing if help requested.
#if( $help )
#stop
#end

#if ( $schemaSuffix )
$table.setSchema($table.getSchema().concat($schemaSuffix))## 
#end
#if( $tableSuffix )
$table.setTable($table.getName().concat($tableSuffix))##
#end
## CDC (logging) columns.
#set ( $cdcColumns = "  CDC_OP_TYPE VARCHAR(1), /* CDC column */
  CDC_TIMESTAMP TIMESTAMP, /* CDC column */
  CDC_SEQUENCE_NUMBER NUMBER PRIMARY KEY /* CDC column */" )
#if( $cdcColumnsAtFront == "true" )
#set ( $customColumns = "$cdcColumns,")
#end
#parse("includes/ddl-mysql-oracle-table.vm")
#if( !$cdcColumnsAtFront || $cdcColumnsAtFront != "true" )
,
$cdcColumns##
#end

);
