#*
  Tungsten Scale-Out Stack
  Copyright (C) 2007-2013 Continuent Inc.
  Contact: tungsten@continuent.org
 
  Initial developer(s): Linas Virbalas
  Contributor(s):
 
  Velocity template for Tungsten.
  
  Transforms MySQL table definition (DDL) to Oracle dialect. Reports errors
  (ERROR) and warnings (WARN).
  
  Notes:
  
  * ENUM -> VARCHAR2(longest ENUM element) - use EnumToStringFilter.
  * SET -> VARCHAR2(4000) - use SetToStringFilter.
  * Use "-rename" option together with RenameFilter.
  
*##parse("includes/ddl-header.vm")

$table.setTable($table.getName().concat("_CDC"))
#parse("includes/ddl-mysql-oracle-table.vm")
## CDC (logging) columns.
  CDC_OP_TYPE VARCHAR(1), /* CDC column */
  CDC_TIMESTAMP TIMESTAMP, /* CDC column */
  CDC_SEQUENCE_NUMBER NUMBER PRIMARY KEY /* CDC column */
);
