#*
  Tungsten Scale-Out Stack
  Copyright (C) 2007-2014 Continuent Inc.
  Contact: tungsten@continuent.org
 
  Initial developer(s): Linas Virbalas
  Contributor(s):
 
  Velocity template for Tungsten.
  
*##parse("includes/table-counter.vm")
## Print header or help above the first table.
#if ( $counter == 1 )
#if( $help )
#parse("includes/ddl-oracle-mysql-pk-only-help.vm")
#else
#parse("includes/ddl-header.vm")
#end
#end
## Stop processing if help requested.
#if( $help )
#stop
#end

#set ( $tryPkInclude = "${table.getSchema()}.${table.getName()}.pk" )
#set ( $tryInclude = "${table.getSchema()}.${table.getName()}.ddl" )
## Convert schema and table name to lower case for MySQL. 
$table.setSchema( $table.getSchema().toLowerCase() )##
$table.setTable( $table.getName().toLowerCase() )##
## Drop existing PK if user requests.
#if ( $add == "drop" )
ALTER TABLE ${table.getSchema()}.${table.getName()} DROP PRIMARY KEY;
#end
## Primary key.
#if ( $table.getPrimaryKey() )
ALTER TABLE ${table.getSchema()}.${table.getName()} ADD PRIMARY KEY (##
#foreach ( $key in $table.getPrimaryKey().getColumns() )
$key.getName()##
#if( $foreach.hasNext ), #else)#end
#end
;
#elseif ( $velocity.resourceExists($tryPkInclude) )
  /* INFO: PK error ignored, because include found */
  /* BEGIN OF $tryPkInclude */
#include($tryPkInclude)
  /* END OF $tryPkInclude */
#else
## Is there a unique index suitable for PK?
#set ( $uIndex = $table.getPKFromUniqueIndex() )
#if ( $uIndex )
ALTER TABLE ${table.getSchema()}.${table.getName()} ADD PRIMARY KEY (##
#foreach ( $uCol in $uIndex.getColumns() )
$uCol.getName()##
#if( $foreach.hasNext ), #else)#end
#end
; /* WARN: no PK found, using suitable unique index instead: $uIndex.getName() */
#else
  /* ERROR: ${table.getSchema()}.${table.getName()} has no PK or suitable unique index! */
#end
#end
#set ( $tryInclude = "${table.getSchema()}.${table.getName()}.ddl" )
#if ( $velocity.resourceExists($tryInclude) )
  /* BEGIN OF $tryInclude */
#include($tryInclude)
  /* END OF $tryInclude */
#end
