#*
  Tungsten Scale-Out Stack
  Copyright (C) 2007-2013 Continuent Inc.
  Contact: tungsten@continuent.org
 
  Initial developer(s): Linas Virbalas
  Contributor(s):
 
  Velocity template for Tungsten.
  
  Reports tables which lack primary keys.
  
*##parse("includes/ddl-header.vm")
## Primary key check.
#if ( !$table.getPrimaryKey() )

/* ERROR: $table.getSchema().$table.getName() has no primary key! */##
#end
